{{#if editQuestionForm}}
  <h4>Edit "{{question.userquestion}}"</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="userquestion">Edit This Question</label>
        {{input value=userquestion id="userquestion" placeholder=question.userquestion}}
      </div>

      <div class="form-group">
        <label for="image">Replace Image URL Here</label>
        {{input value=image id="image" placeholder=question.image}}
      </div>

      <div class="form-group">
        <label for="author">Update Author Name</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="notes">Update Details</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <button {{action 'save' question}}>Save This Edit</button>

    </form>
  </div>
{{else}}
  <button {{action 'editQuestionForm'}}>Edit This Question</button>
{{/if}}
