


<div class="questionIndex">
  {{#link-to 'question' question.id}}

  <h1>{{question.userquestion}}</h1>

  {{/link-to}}

  <p class="author">
  <img src={{question.image}} alt="user profile image" width="100px"/>By {{question.author}}<br>
  </p>


  {{#if isNotesShowing}}

    <p>{{question.notes}}</p>

    <p><button class="questionButton hideDetailButton" {{action 'notesHide'}}>Hide Details</button></p>

  {{else}}

    <p><button class="questionButton moreQuestionButton" {{action 'notesShow'}}>More...</button></p>

    <hr>


  {{/if}}
</div>
