
<div class="answerIndex">
    <p class="author">
    <img src={{answer.image}} alt="user profile image" width="100px"/>By {{answer.author}}<br>
    </p>
    <h6>{{answer.useranswer}}</h6>

    {{#if isNotesShowing}}

      <p>{{answer.notes}}</p>

      <p><button class="details" {{action 'notesHide'}}>Hide Details</button></p>

      {{else}}

        <p><button class="details" {{action 'notesShow'}}>details...</button></p>
    {{/if}}
    <hr>

</div>
