


<div class="questionIndex">
  {{#link-to 'question' question.id}}

  <h1>{{question.userquestion}}</h1>

  {{/link-to}}

  <p class="author">
  <img src={{question.image}} alt="user profile image" width="100px"/>By {{question.author}}<br>
  </p>


  {{#if isNotesShowing}}

    <p>{{question.notes}}</p>

    <p><button class="details" {{action 'notesHide'}}>Hide Details</button></p>

  {{else}}

    <p><button class="details" {{action 'notesShow'}}>DETAILS...</button></p>

  {{/if}}
  {{#link-to 'question' question.id}}

  <button class="answerButton">ANSWER THIS QUESTION</button>

  {{/link-to}}

</div>
